version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.1.0

workflows:
  version: 2.0
  detect-workflow:
    jobs:
      # - path-filtering/filter:
      #     name: Sample Front Workflow
      #     mapping: |
      #       front/.* front true
      #     base-revision: main
      #     config-path: ./circleci/front.yml
      #     filters:
      #       branches:
      #         only: feature/circleci

      - path-filtering/filter:
          name: Sample Backend Workflow
          mapping: |
            backend/src/calc/addNum.ts addNum true
            backend/src/calc/multipleNum.ts multipleNum true
          base-revision: main
          config-path: .circleci/backend.yml
          filters:
            branches:
              only: feature/circleci
